.p1{
    text-align: center;  
}
.p2{
    text-align: right;
}
.tabla1{
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
    font-family: Arial;
}

.p3{
    text-align: center;  
}
.p4{
    text-align: right;
}
.p5{
    text-align: center;  
}
.p6{
    text-align: right;
}
.p7{
    text-align: center;  
}
.p8{
    text-align: right;
}
.p9{
    text-align: center;  
}
.p10{
    text-align: right;
}
.p11{
    text-align: center;  
}
.p12{
    text-align: right;
}
.tabla2{
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
    font-family: Arial;
}

.table3{
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
    font-family: Arial;
}

.table4{
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
    font-family: Arial;
}
td{
    border:1px solid #333;
    height:50px;
}
.img{
    background:#f2f2f2;
    font-weight:bold;
}

.c8{
    color: blanchedalmond;
    background-color: rgb(17, 17, 17);
}

.table5{
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table,tr,td{
    border:2px solid rgb(12, 11, 11)
}
.c1{
    color: rgb(14, 13, 13);
    background-color: rgba(250, 145, 145, 0.815);
}
.c2{
    color: rgb(253, 246, 246);
    background-color: rgba(17, 11, 63, 0.815);
}
.c3{
    color: rgb(14, 13, 13);
    background-color: rgba(10, 230, 39, 0.815);
}
.c4{
    color: rgb(14, 13, 13);
    background-color: rgba(241, 174, 174, 0.815);
}
.c5{
    color: rgb(14, 13, 13);
    background-color: rgba(147, 191, 216, 0.815);
}
.c6{
    color: rgb(14, 13, 13);
    background-color: rgba(250, 6, 6, 0.815);
}
.c7{
    color: rgb(255, 248, 248);
    background-color: rgba(4, 12, 5, 0.815);
}
td{
width: 10%;
height: 50px;
}
.tabla6{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.table6,tr,td{
    border:2px solid black
}
td{
    width: 10%;
    height: 50px;
}

.tabla7{
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
}
.c9{
    color: rgb(255, 248, 248);
    background-color: rgba(233, 89, 53, 0.815);
}
